* {
  margin: 0;
  padding: 0;

}

.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}


/* 1st section  */

.container {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 11%;
  height: 38%;
  gap: 4%;
}

.first-sec-text {
  width: 39%;
}

.first-sec-text h2 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 4.5rem;
  font-weight: 800;
  text-align: left;
  margin-bottom: 4%;

}

.first-sec-text p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 4%;
}

.fst-btn {
  border: none;
  border-radius: 8px;
  padding: 19px 40px;
  background-color: rgb(229, 84, 115);
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.fst-btn:hover {
  background: transparent;
  box-shadow: 1px 5px 10px 0.5px rgba(208, 207, 208, 0.843);
  color: rgb(229, 84, 115);
  transition: all .2s ease-in-out;
  scale: 1.05;
}

/* 2nd section */

.scnd-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 11%;
  margin-top: 8%;


}

.Flower-cart {
  display: flex;
  gap: 1.8%;
  justify-content: center;

}

.scnd-text-holder {
  width: 27%;
}

.scnd-text-holder h4 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;

  text-align: center;
}

.scnd-text-holder p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
  text-align: center;
}

.Flower-cart p {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 2%;
}

.flower-box1 {
  display: flex;
  width: 460px;
  height: 530px;
  justify-content: center;
  align-items: end;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.flower-box2 {
  display: flex;
  width: 460px;
  height: 530px;
  justify-content: center;
  align-items: end;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);

}

.flower-box3 {
  display: flex;
  width: 460px;
  height: 530px;
  justify-content: center;
  align-items: end;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

#fl-box-img2 {
  padding: 0px 47px 50px 50px;
}

.flower-box1:hover {
  box-shadow: -3px -3px 20px 0.5px rgba(203, 203, 203, 0.885);
  transform: translateY(-4px) translateX(-4px);
  transition: all .33s ease-in;
}

.flower-box2:hover {
  box-shadow: -3px -3px 20px 0.5px rgba(210, 209, 209, 0.881);
  transform: translateY(-4px) translateX(-4px);
  transition: all .33s ease-in;
}

.flower-box3:hover {
  box-shadow: -3px -3px 20px 0.5px rgba(204, 204, 204, 0.935);
  transform: translateY(-4px) translateX(-4px);
  transition: all .33s ease-in;
}


/* 3rd section */

.thrd-container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(39, 39, 39, 0.05);
  margin: 5% 11%;
  align-items: center;
  padding: 4% 9%;
  border-radius: 8px;
  gap: 5%;

}

.thrd-content {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#thed-img1 {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

#thed-img2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

#thed-img3 {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.thrd-content p {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  ;

}

/* 4th section */
.frth-container {
  display: flex;
  background-color: rgba(229, 84, 115, 0.05);
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 4% 21%;
  gap: 10%;
  margin-bottom: 6%;
}

.frth-container:hover {
  box-shadow: -3px -3px 20px 0.5px rgba(179, 177, 177, 0.935);
  transform: translateY(-4px) translateX(-4px);
  transition: all .33s ease-in;
}

.frth-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 28%;
  margin-top: 6%;
}

.frth-text-container h4 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.frth-text-container p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

span {
  color: rgb(229, 84, 115);
}

/* 5th section */
.fifth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 6%;

}

.fifth-img-container {
  display: flex;
  justify-content: center;
  gap: 1.5%;


}

.fifth-img-container img:hover {
  box-shadow: -3px -3px 20px 0.5px rgba(179, 177, 177, 0.935);
  transform: translateY(-4px) translateX(-4px);
  transition: all .33s ease-in;
}

.fifth-text-box {
  width: 29%;
}

.fifth-text-box h4 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.fifth-text-box p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}

/* 6th section */

.sisth-container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  background-image: url(back/Rectangle\ 9.png);
  background-repeat: no-repeat;
  height: 23%;
  margin: 0% 12%;
  padding: 6% 0px;
  margin-bottom: 5%;

}

.sisth-text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sisth-text-box h4 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;

}

.sisth-text-box p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 45px;
}

.btn {
  display: flex;
}

input {
  width: 690px;
  padding: 26px 0px 26px 22px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;
  margin-right: 10px;
}

input:hover {
  box-shadow: -3px -3px 20px 0.5px rgba(179, 177, 177, 0.935);
}

/* footer */

.svnth-foot {
  display: flex;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.svnth-foot h4 {
  font-family: Lato;
  font-size: 3.2rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.svnth-foot p {
  color: rgba(255, 255, 255, 0.9);
  font-family: Lato;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin: 27px 0px;
}

.svnth-foot .cp {
  color: rgba(255, 255, 255, 0.4);
  font-family: Lato;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;

}

@media screen and (max-width: 600px) {
  
  .fifth-img-container {
    display: flex;
    flex-direction: column;

  }

  .fifth-img-container img {
    margin-bottom: 5%;
  }

 
  .container {
    flex-direction: column;
  }

  .first-sec-text h2 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 3rem;
    font-weight: 800;
    text-align: left;
    margin-bottom: 4%;

  }

  .first-sec-text p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 4%;
  }

  .first-sec-text {
    width: 100%;
  }

  .container img {
    width: 85%;
  }

  .scnd-text-holder {
    width: 100%;
  }
  .Flower-cart section {
    margin-bottom: 5%;
  }
  .Flower-cart {
    display: flex;
    flex-direction: column;
  
    align-items: center;
  }

  .Flower-cart1{
    width: 95%;
    margin-left: 5%;
   }
   .flower-box1{
    width: 95%;
   }
   .flower-box2{
    width: 95%;
   }
   .flower-box3{
    width: 95%;
   }
  .thrd-container {
    margin: 5% 0px;

  }


  .thrd-content p {
    font-size: 1rem;
    text-align: center;
  }

  .frth-container {
    flex-direction: column;
  }

  .frth-text-container {
    width: 100%;
  }

  .fifth-text-box {
    width: 95%;
  }

  .btn {
    padding: 10px 15px;
  }

  input {
    width: 100%;
    padding: 10px 15px;
  }

  .btn button {
    width: 80%;

    padding: 10px 15px;
  }

  .sisth-text-box {
    margin-top: 5%;
  }

  .first-sec-text {
    margin-top: 6%;
  }

  .fst-btn {
    padding: 10px 15px;
  }
}